<ol class="breadcrumb">
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="#">Informatie</a></li>
  <li class="breadcrumb-item active">PI informatie</li>
</ol>
<div class="overview-list" >
  <h2 class="overview-list-title">Info</h2>
  Deze pagina betreft extra informatie over de functionaliteiten van het werkplek-registratie systeem. Voor informatie over dit project klik <a href="https://werkplek.123apps.net/informatie">hier</a>
  <br/>
  Welkom bij de uitleg pagina voor de functionaliteiten van het werkplek-registratie systeem.
  Momenteel zijn er vier verschillende mogelijkheden met dit systeem, te weten:
  <br/><br/>
  <ul>
    <li>Werkplek claimen</li>
    <li>Werkplek vrijgeven</li>
    <li>Tijd kiezen</li>
    <li>Extra informatie(Deze pagina)</li>
  </ul><br/>
  Deze functionaliteiten zullen nu stap voor stap beschreven worden:
  <br/><br/>
  <b>
    Werkplek claimen
  </b><br/>
  Om een werkplek te claimen dient deze niet geclaimed te zijn.
  Standaard is een claim 30 minuten geldig, om dit aan te passen, volg de aanwijzingen voor Tijd Kiezen.
  Om een werkplek te claimen selecteerd U eerst het huis-icoon in de navigatiebalk aan de rechter zijde van het scherm.
  Nu ziet U een groene knop aan de linkerkant van het scherm. Selecteer deze om de werkplek te claimen.
  <br/><br/>
  <b>
    Werkplek vrijgeven
  </b><br/>
  Om een werkplek vrij te geven dient deze geclaimed te zijn.
  Om een werkplek vrij te geven selecteerd U eerst het huis-icoon in de navigatiebalk aan de rechter zijde van het scherm.
  Nu ziet U een rode knop aan de linkerkant van het scherm. Selecteer deze om de werkplek vrij te geven.
  <br/><br/>
  <b>
    Tijd Kiezen
  </b><br/>
  Om een tijd te kiezen selecteerd U het Klok-icoon in de navigatiebalk aan de rechter zijde van het scherm.
  Vervolgens gebruikt U de + of - toetsen om de uren en minuten in te stellen. Daarna selecteerd U de "Klik hier om te kiezen" knop om deze tijd op te slaan.
  Bij de eerstvolgende claim zal deze tijd worden gebruikt in plaats van de standaard 30 minuten.
  <br/><br/>
  <b>
    Extra informatie
  </b><br/>
  Deze functionaliteit dient ter navigatie naar deze pagina, verdere uitleg is waarschijnlijk overbodig ;).
</div>
