<ol class="breadcrumb">
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="#">Home </a></li>
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="locaties">locaties</a></li>
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="locaties/{{locatie.id}}">{{locatie.naam}}</a></li>
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="locaties/{{locatie.id}}/verdiepingen">Verdiepingen</a></li>
  <li class="breadcrumb-item">{{verdieping.naam}}</li>
</ol>
<div class="overview-list" >
  <h2 class="overview-list-title">Werkplekken {{verdieping.naam}}</h2>
  <select #filter (change)="changeFilter(filter.value)" class="overview-list-filter">
    <option selected value="alle">Alle werkplekken</option>
    <option value="vrij">Vrije werkplekken</option>
  </select>
  <table class="table-striped" class="table-striped overview-list-content">
    <tr *ngFor="let werkplek of werkplekkenSelectie" (click)="openWerkplek(werkplek.id)">
      <td class="overview-list-content-row">
        <div id="overview-list-content-row-arrow">
          <div class="overview-list-content-row-image">
            <i *ngIf="!werkplek.bezet" class="fa fa-check overview-list-content-row-check" aria-hidden="true"></i>
            <i *ngIf="werkplek.bezet" class="fa fa-close overview-list-content-row-close" aria-hidden="true"></i>
          </div>
          <div class="overview-list-content-row-image-text">
            <h4>{{werkplek.naam}}</h4>
            <p>{{werkplek.zitplaatsen}} zitplaatsen</p>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
