@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/Bezet.js"></script>
<div class="claimwerkplekbutton">
    <button class="btn-block btn-block-styling" style="background-color: red" id="button">Geef werkplek vrij</button>
</div>