<div class="claimwerkplekbutton" >
    @using (Html.BeginForm("reserveerWerkplek", "Kiosk", FormMethod.Post))
    {
        <button type="submit" value="submit" class="btn-block btn-block-styling" style="background-color: forestgreen">Claim Werkplek</button>
    }
</div>
