@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-xs-9 claimwerkplekbutton">
    <button class="btn-block" style="background-color: forestgreen">Claim Werkplek</button>
</div>
