body {
    padding-top: 0px;
    padding-bottom: 20px;
    overflow:hidden;
    height:auto;
}

.btn-block{
    padding-top: 100vh;
    display: block;
}

.col-xs-9.claimwerkplekbutton{
    position: absolute;
    padding-right: 0px;
    padding-left: 0px;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navigation-bar{
    float:right;
}

a {
   color: grey;
   text-align:center;
   height:25vh;
}

.navigation-items{
    float:right
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
