body {
    padding-top: 0px;
    padding-bottom: 20px;
    overflow:hidden;
    height:auto;
}

.btn-block{
    width:200vh;
    height:100vh;
    position:relative;
}

.claimwerkplekbutton{
    position: absolute;
    width: 100%;
    display: block;
}

.container.body-content {
    padding-left: 0px;  
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 65px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


.navigation-bar{
    float:right;
}

@media screen and (min-height: 300px) {
    a {
        color: grey;
        text-align: center;
        padding: 12.5vh 15px 12.5vh 15px !important;
    }
}
@media screen and (max-height: 299px) {
    a {
        color: grey;
        text-align: center;
    }
}

li{
    color:grey;
    height:25vh;
}

.navigation-items{
    float:right
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
