body {
    padding-top: 0px;
    padding-bottom: 20px;
    overflow:hidden;
    height:auto;
}

.btn-block-styling{
    height: 100vh;
    position:absolute;
}

.claimwerkplekbutton{
    position: relative;
}

.container.body-content {
    width: auto;
    padding-left: 0px;  
    padding-right: 65px;
    margin-left: 0px;
    margin-right: 0px;
}

.scaleable{
    max-width: 75vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


.navigation-bar{
    float:right;
}

@media screen and (min-height: 300px) {
    a {
        color: grey!important;
        text-align: center;
        padding: 12.5vh 15px 12.5vh 15px !important;
    }
}
@media screen and (max-height: 299px) {
    a {
        color: grey;
        text-align: center;
    }
}

.list{
    color:grey;
    height:25vh;
}

.navigation-items{
    float:right
}


.center-text{
    position:relative;
    text-align:center;
}

.center-image{
    height:25em;
    width:100vh;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}