body{
  background: #ececec;
}
.component{
  background: #ececec;
  height: auto;
}

.breadcrumb{
  border-radius: 0px;
  background: #ececec;
  color:pink!important;
}

.breadcrumb-item{
  color: #00a1e2!important;
  text-transform: uppercase;
}

.breadcrumb>li+li:before{
  font-family: fontAwesome;
  content: "\f178";
  color: #e72e2a;
}

.breadcrumb-color{
  color: #00a1e2!important;
}

header{
  overflow: visible;
  padding: 0.5em 2em 1.3em;
  min-height: 7em;
  margin: 0 auto;
  background-color: white;
}

.logobar {
 max-width: 400px;
  padding: 2.5em 2em 1.3em;
  min-height: 7em;
}

ul.navbar {
  list-style-type: none;
  margin-bottom: 0px;
  overflow: hidden;
  background: #00a1e1;
  border-radius: 0px;
  min-height: 0px;
  border:0px;
  font-size: 1.2em;
}

ul.navbar li {float: left;
  border:20px;}

ul.navbar li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: .5em .6em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  font-weight: bold;
}

ul.navbar li a:hover:not(.active) {background-color: #e72e2a;}

ul.navbar li a.active {background-color: #e72e2a;}

.overview-list{
  border:solid 1.5px white;
  margin:10px;
  background-color:white;
  padding: 1.2em;
}

.overview-list-title{
  padding-left:10px;
  border-bottom:1px solid #bebebe;
  color:#00a1e2;
  font-weight:bold;
}

.overview-list-content{
  width:100%;
  overflow:scroll;
  /*height:100px;*/
}

.overview-list-content-row{
  padding:10px;
}
#overview-list-content-row-arrow::after{
  font-family: fontAwesome;
  content: "\f054";
  width: 1em;
  height: 1em;
  font-weight: bold;
  display: block;
  color: #e72e2a!important;
  position: absolute;
  right: 40px;
  margin-top: -40px;
  cursor: pointer;
}

h4{
  color: #00a1e2;
  font-weight:bold;
}

@media screen and (max-width: 600px){
  ul.navbar li {float: none;}
}


