<div class="section group">
  <div class="col span_2_of_3">
    <h2 class="overview-list-title"> Het project </h2>
    <div class="column-text">
      <p>
        Het hele gebouw doorlopen, om er vervolgens achter te komen dat er nergens
        plek is om te werken. De meeste studenten zullen dit wel eens meemaken.
      </p>
      <p>
        Toen er vanuit de Hogeschool Utrecht opdracht werd gegeven om een
        interactieve applicatie te maken, was een van de eerste ideeën het maken
        van een systeem om dit probleem op te lossen.
      </p>
      <p>
        Door middel van een nieuw registratiesysteem bij tafels in de gebouwen van de
        HU is het mogelijk om snel te zien waar vrije werkplekken zijn, of een
        tafel met een specifiek aantal stoelen of stopcontacten te vinden.
      </p>
      <p>
        Als u meer informatie wilt over de werking van de applicatie en het meldingssysteem, <a href="/informatie/informatie-pi">klik dan hier</a>.
      </p>
    </div>
  </div>
  <div class="col span_1_of_3">
    <h2 class="overview-list-title"> Het team </h2>
    <div class="column-text">
      <p>
        Deze applicatie is gemaakt door een groep van zes HBO-ICT studenten, in opdracht van de Hogeschool Utrecht.
      </p>
      <ul>
        <li>
          Dyon Beumer
        </li>
        <li>
          Danny Deelen
        </li>
        <li>
          Merel de Klein
        </li>
        <li>
          Jelle Luteijn
        </li>
        <li>
          Arjan van Maren
        </li>
        <li>
          Tessa den Oudsten
        </li>
      </ul>
    </div>
  </div>
</div>

