<div class="section group">
  <div class="col span_2_of_3">
    <h2 class="overview-list-title"> Het project </h2>
    <div class="column-text">
      <p>
        Het hele gebouw doorlopen, om er vervolgens achter te komen dat er nergens
        plek is om te werken. De meeste studenten zullen dit wel eens meemaken.
      </p>
      <p>
        Toen er vanuit de Hogeschool Utrecht opdracht werd gegeven om een
        interactieve applicatie te maken, was een van de eerste ideeën het maken
        van een systeem om dit probleem op te lossen.
      </p>
      <p>
        Door middel van een nieuw registratiesysteem bij tafels in de gebouwen van de
        HU is het mogelijk om snel te zien waar vrije werkplekken zijn, of een
        tafel met een specifiek aantal stoelen of stopcontacten te vinden.
      </p>
      <img src="../../src/assets/images/2013 10 18 Daltonlaan200_03.jpg.jpg" height="150"
           width="300" />
      <br><br>
      <p>
        Meer informatie over de werking van het applicatie en het meldingssysteem is te vinden op: <b>URL hier</b>
      </p>
    </div>
  </div>
  <div class="col span_1_of_3">
    <h2 class="overview-list-title"> Het team </h2>
    <div class="column-text">
      <p>
        Deze applicatie is gemaakt door een groep van zes HBO-ICT studenten, in opdracht van de Hogeschool Utrecht.
      </p>
      <ul>
        <li>
          Dyon Beumer
        </li>
        <li>
          Danny Deelen
        </li>
        <li>
          Merel de Klein
        </li>
        <li>
          Jelle Luteijn
        </li>
        <li>
          Arjan van Maren
        </li>
        <li>
          Tessa den Oudsten
        </li>
      </ul>
    </div>
  </div>
  <!--<div class="col span_1_of_3">-->
  <!--<h2 class="overview-list-title"> Informatie </h2>-->
  <!--<div class="column-text">-->
  <!--Deze applicatie is gemaakt door een groep van zes HBO-ICT studenten, in opdracht van de Hogeschool Utrecht.-->
  <!--Deze applicatie heeft als doel het helpen van studenten bij het vinden van een werkplek.-->
  <!--Op deze manier hoeven studenten niet langer iedere verdieping langs te lopen om een vrije plek te vinden,-->
  <!--maar kan er via deze applicatie effectief een werkplek gezocht worden!<br><br>-->
  <!--Vooor meer informatie over de werking van deze applicatie of over de werking van de -PI-, verwijzen wij jullie graag door naar de informatie pagina...-->
  <!--</div>-->
  <!--</div>-->
</div>

