<ol class="breadcrumb">
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="#">Home </a></li>
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="locaties">locaties</a></li>
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="locaties/{{locatie.id}}">{{locatie.naam}}</a></li>
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="locaties/{{locatie.id}}/verdiepingen">Verdiepingen</a></li>
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="locaties/{{locatie.id}}/verdiepingen/{{verdieping.id}}">{{verdieping.naam}}</a></li>
  <li class="breadcrumb-item">{{werkplek.naam}}</li>
</ol>
