<ol class="breadcrumb">
  <li class="breadcrumb-item"><a class="breadcrumb-color" href="#">Home</a></li>
  <li class="breadcrumb-item active">Zoeken</li>
</ol>
<div class="overview-list" >
  <h2 class="overview-list-title">Zoek een werkplek</h2>
    <div class="section group">
      <div class="col span_1_of_6">
        <!--1 of 6-->
        <select name="locaties">
          <option hidden option disabled>Locaties</option>
          <option value="1">Locatie 1</option>
          <option value="2">Locatie 2</option>
        </select>
      </div>
      <div class="col span_1_of_6">
        <!--2 of 6  -->
        Zitplaatsen:
      </div>
      <div class="col span_1_of_6">
        <!--3 of 6  -->
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="btn-plus_zitplaatsen"><span class="glyphicon glyphicon-minus"></span></button>
      </span>
                <input type="text" class="form-control" name="qty" id="qty_zitplaatsen" value="1">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="btn-minus_zitplaatsen"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col span_1_of_6">
        <!--4 of 6-->
        Stopcontacten:
      </div>
      <div class="col span_1_of_6">
        <!--5 of 6-->
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="btn-plus_stopcontacten"><span class="glyphicon glyphicon-minus"></span></button>
      </span>
                <input type="text" class="form-control" name="qty" id="qty_stopcontacten" value="1">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="btn-minus_stopcontacten"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div>
      </div>
      <div class="col span_1_of_6">
        <!--6 of 6-->
        ZOEEEEEEEEEEEEEEEK
      </div>
    </div>
</div>
<div class="overview-list" >
  <h2 class="overview-list-title">Resultaten</h2>
  <table class="table-striped overview-list-content" >
    <tr *ngFor="let locatie of locaties" (click)="openLocatie(locatie)">
      <td class="overview-list-content-row">
        <div id="overview-list-content-row-arrow">
          <h4>{{locatie.naam}}</h4>
          <p>{{locatie.plaats}}</p>
        </div>
      </td>
    </tr>
  </table>
</div>
