@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger text-center">Error.</h3>
<div class="text-danger text-center">An error occurred while processing your request.</div>

<div class="text-center">This website is designed to be used in combination with the destributed image for Raspberry Pi.</div>
<div class="text-center">Team OK.</div>
